html {
	font-size: 62.5%;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
	color: $black;
	font-size: $m-size;
	background: $white;
}

// a
a {
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	opacity: .7;
}
