// Font-size
$s-size: 1.2rem;
$m-size: 1.8rem;
$l-size: 2rem;

// Spacing
$spacing: .5rem;
$desktop-breakpoint: 45rem;

// Color
$light-green: #cad000;
$green: #899940;
$black: #343434;
$off-white: #f5f5f5;
$white: #ffffff;
